<h2>Register for Course</h2>

<form action="/submit" method="POST">
  <input type="text" name="name" placeholder="Name" required><br><br>
  <input type="email" name="email" placeholder="Email" required><br><br>

  <select name="course">
    <option>Full Stack Development</option>
    <option>Artificial Intelligence</option>
    <option>Cyber Security</option>
  </select><br><br>

  <input type="number" name="age" placeholder="Age"><br><br>

  <button type="submit">Submit</button>
</form>
